*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 100%;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(background.jpg) ;
    background-position: center;
    background-size:cover;
    position: absolute;
}

.form{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(223, 220, 233);
    padding: 5px;
    overflow: hidden;
    border-radius: 9px;
}
.button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow:0 0 20px 9px #ff61241f ;
    border-radius: 30px;
}
.regi{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#color{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#E3F2fD,#1565C0);
    border-radius: 30px;
    transition: .5s;
}
.input-element{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-element2{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-left:0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.input-field :hover{
    background-color:#E3F2fD;
}
.submit{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#E3F2fD,#1565C0);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 450px;
}
#register{
    left: 50px;
}



input[type=text], input[type=password],input[type=email],input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  input :hover{
      background-color:#999;
  }

  button :hover{
      background-color: #4681c4;
  }

  .input-container {
    /*display: -ms-flexbox; /* IE10 */
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .icon {
    padding-bottom: 20px;
    padding-inline: 8px;
  }
  